@model IList<string>
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- BootstrapC核心CSS文件 -->
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Jquery文件 务必在bootstrap.min.js之前引用 -->
    <script src="./bootstrap/js/jquery.slim.min.js"></script>
    <script src="./bootstrap/js/popper.min.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
    <title>详情信息</title>
</head>

<body>
    </form>
    @{
        if (Model != null)
        {
            foreach (var item in Model)
            {
                <p class="font-weight-bold">姓名：@item</p>
            }
        }

    }
</body>
</html>