@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- BootstrapC核心CSS文件 -->
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Jquery文件 务必在bootstrap.min.js之前引用 -->
    <script src="~/bootstrap/js/jquery.slim.min.js"></script>
    <script src="~/bootstrap/js/popper.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <title>Hello, world!</title>
</head>
<body>
    <form action="/Default/Login" method="post">
        <div class="form-group col-md-6">
            <label for="inputEmail4">邮箱</label>
            <input type="email" class="form-control" id="inputEmail4" name="userEmail">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">密码</label>
            <input type="password" class="form-control" id="inputPassword4" name="userPwd">
        </div>
        <div class="form-group col-md-6">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </form>
    <p class="font-weight-bold">@ViewBag.Msg</p>
</body>
</html>