@model demo1.Models.Student_Data
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- BootstrapC核心CSS文件 -->
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Jquery文件 务必在bootstrap.min.js之前引用 -->
    <script src="~/bootstrap/js/jquery.slim.min.js"></script>
    <script src="~/bootstrap/js/popper.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <title>Hello, world!</title>
</head>
<body>

    <form action="/Default/Update" method="post">

        <div class="form-group">
            <input class="form-control" type="text" name="StudentID" placeholder="@Model.StudentID" readonly>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">姓名：</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" name="StudentName" style="width:200px" placeholder="@Model.StudentName">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">年龄：</label>
            <input type="text" class="form-control" name="StudentAge" style="width:200px" placeholder="@Model.StudentAge">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1"> 性别</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" name="StudentSex" style="width:200px" placeholder="@Model.StudentSex">
        </div>
        <button type="submit" class="btn btn-primary">修改</button>
    </form>
</body>
</html>